body {
    font-family: 'Open Sans Condensed', sans-serif;
}
.jumbotron {
    background-image: linear-gradient(rgb(21, 76, 179) 0%, rgb(29, 181, 216) 100%);
    margin: 0px;
    width: 100%;
    padding: 10px;

}
.container-fluid.text-white.text-center {
    background-image: linear-gradient(rgb(21, 76, 179) 0%, rgb(29, 181, 216) 100%);
}
.container-fluid {
    background-color: rgb(211, 211, 211);
}
.forecastCard {
    background-image: linear-gradient(rgb(100, 137, 204) 0%, rgb(131, 228, 250) 100%);
}
