.hero-body {
  background-image: linear-gradient(180deg, #154cb3 0%, #1db5db 100%);
  transition: all .5s ease-out; 
}
.column {
    margin: 33px;
    justify-content: center;
    text-align: center;
}
.field {
    margin: 25px;

}
.content {
    text-align: center;
    width: 80px;
}